/* 공통 */
html {
	font-size: 0.625rem;
}

body {
	font-family: "Pretendard Variable", Pretendard, sans-serif;
	background-color: #F4F6F8;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
	font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 130px;
  padding: 5px;
  text-align: center;
}

.container {
	width: 482px;
	margin: 4% auto 0;
}

figcaption {
	position: absolute;
	bottom: 0;
	right: 0;
}

figure img {
	border-radius: 32px;
}


.offline {
	background-color: #dbdbdb;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.online {
	background-color: #4cfe88;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: 1px solid #fff;
}

/* float layout */
.float_wrap {
	width: 336px;
	height: 195px;
	margin: 0 auto;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	padding: 56px 72px;
}

.float_wrap figure {
	float: left;
	margin: 10px;
	position: relative;
}


/* flex layout */
.flex_wrap {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	padding: 56px 72px;
}

.flex_wrap figure {
	margin: 10px;
	position: relative;
}
